#facebookLogin {
	cursor:pointer;
	
}

#chooseFriend {
	width:320px;
	margin: 0 auto;
	font-size:24px;
	height: 40px;
	margin-top: 40px;
}

.jumbotron .img-responsive {
    margin: 0 auto;
	max-width: 534;
	max-height:400;
}
#fb_tm {
	width:100%;
	
}

.highlight {
	color: black;
	text-decoration: underline;
}

a {
	color: white;
	text-decoration: underline;
}